<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nd.adhoc.dmsdk" >
    <application>
        <!-- 设备管理 -->
        <receiver android:name="com.nd.adhoc.dmsdk.revicer.AdminReciver"
            android:label="@string/device"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
            <intent-filter>
                <action
                    android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.nd.adhoc.dmsdk.revicer.ActiveLicenseReceiver">
            <intent-filter>
                <action android:name="edm.intent.action.license.status" />
                <action android:name="edm.intent.action.knox_license.status"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
