<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="knox.demo.richsjeson.com.dmsdk_api_knox" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Permissions TODO List permissions used by application -->
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_HW_CONTROL" />
    <uses-permission android:name="android.permission.sec.MDM_WIFI"/>
    <uses-permission android:name="android.permission.sec.MDM_APP_MGMT"/>
    <!--擦除数据使用 -->
    <uses-permission android:name="android.permission.sec.MDM_SECURITY"/>
</manifest>
